[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=CubeTimerQML
Exec=invoker --single-instance --type=e /usr/bin/cubetimer
Icon=/usr/share/icons/hicolor/80x80/apps/cubetimer.png
Categories=Game;
